In [ ]:
import pandas as pd

dados = {
    'produto': ['A', 'B', 'C', 'D'],
    'vendas': [100, 150, 200, 250],
    'lucro': [20, 30, 50, 70],
    'ano': [2020, 2020, 2021, 2021],
}

df = pd.DataFrame(dados)

try:
    media = df['vendas'].mean()
    print(f'Média de vendas: {media}')
except KeyError:
    print("Erro: A coluna 'vendas' não existe no DataFrame.")

Erro: A coluna 'vendas' não existe no DataFrame.

In [8]:
import pandas as pd

login = {
    'usuario': ['admin', 'user1', 'miguel'],
    'senha': ['senha123', 'senha456', '123456'],
}

df_login = pd.DataFrame(login)

user = input('Digite o nome de usuário: ')
password = input('Digite a senha: ')
while True:
    try:
        if df_login['usuario'] == user and df_login['senha'] == password:
            print('Login bem-sucedido!')
    except Exception as e:
        confirmation = input('Usuário e senha incorretos, deseja criar uma conta?(y/n)').lower()
        if confirmation == 'y':
            regisUser = input('Digite o nome de usuário:')
            regisPass = input('Digite sua senha:')
            nova_linha = pd.DataFrame({'usuario': [regisUser], 'senha': [regisPass]})
            df_login = pd.concat([df_login, nova_linha], ignore_index=True)
            print('Conta criada com sucesso!')
            print(df_login)
        else:
            print('Operação cancelada.')
            break

Conta criada com sucesso!
  usuario     senha
0   admin  senha123
1   user1  senha456
2  miguel    123456
3   vitor  senha789
Operação cancelada.

In [14]:
import sqlite3
import pandas as pd

caminhoDB = r'C:\Users\labsfiap\AppData\Roaming\DBeaverData\workspace6\.metadata\sample-database-sqlite-1\Chinook.db'

conection = sqlite3.connect(caminhoDB)

queryTabelas = """SELECT ar.ArtistId, ar.Name as Artista, al.Title as Album
                  FROM Artist ar
                  JOIN Album al ON ar.ArtistId = al.ArtistId"""
tabelas = pd.read_sql_query(queryTabelas, conection)
df = pd.DataFrame(tabelas)
df

,ArtistId,Artista,Album
0,1,AC/DC,For Those About To Rock We Salute You
1,2,Accept,Balls to the Wall
2,2,Accept,Restless and Wild
3,1,AC/DC,Let There Be Rock
4,3,Aerosmith,Big Ones
...,...,...,...
342,226,Eugene Ormandy,Respighi:Pines of Rome
343,272,Emerson String Quartet,Schubert: The Late String Quartets & String Qu...
344,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",Monteverdi: L'Orfeo
345,274,Nash Ensemble,Mozart: Chamber Music
346,275,Philip Glass Ensemble,Koyaanisqatsi (Soundtrack from the Motion Pict...