In [2]:
import pandas as pd

df = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
    'cidade': ['SP', 'RJ', 'BH', 'PN'],
    'sexo': ['F', 'M', 'M', 'F']
})
df

      nome cidade sexo
0      Ana     SP    F
1    Bruno     RJ    M
2   Carlos     BH    M
3  Daniela     PN    F

In [ ]:
df['nome_num'] = df['nome'].astype('category').cat.codes
df[['nome', 'nome_num']]

  cidade  cidade_num
0     SP           3
1     RJ           2
2     BH           0
3     PN           1

In [7]:
df['cidade_num'] = df['cidade'].astype('category').cat.codes
df[['cidade', 'cidade_num']]

  cidade  cidade_num
0     SP           3
1     RJ           2
2     BH           0
3     PN           1

In [8]:
df['sexo_num'] = df['sexo'].astype('category').cat.codes
df[['sexo', 'sexo_num']]

  sexo  sexo_num
0    F         0
1    M         1
2    M         1
3    F         0