# Tópicos da aula
- Estrutura de condição aninhada
- Correção do CP1
- CP2 (30/04/2025)

In [7]:
lista_nomes = ['ana','laura','pedro','melissa']
lista_cep = ['111','222','333','444']

print(lista_nomes)
print(lista_cep)

['ana', 'laura', 'pedro', 'melissa']
['111', '222', '333', '444']

In [10]:
dicionario = {
    'nome' : ['ana','laura','pedro','melissa'],
    'cep' : ['111','222','333','444']
}

print(dicionario)

import pandas as pd 

dataframe = pd.DataFrame(dicionario)
dataframe

{'nome': ['ana', 'laura', 'pedro', 'melissa'], 'cep': ['111', '222', '333', '444']}

      nome  cep
0      ana  111
1    laura  222
2    pedro  333
3  melissa  444

In [13]:
#Ex.1

lista_frutas = []

for k in range (5):
    frutas = input("Digite sua fruta favorita:")
    lista_frutas.append(frutas)
    print(lista_frutas)

lista_frutas = ['maça','banana','laranja']

for k in lista_frutas:
    print(k)

lista_numeros = [10,20,30,40,50]

for k in lista_numeros:
    print(k)

['abacaxi']
['abacaxi', 'ananas']
['abacaxi', 'ananas', 'carambola']
['abacaxi', 'ananas', 'carambola', 'pabre']
['abacaxi', 'ananas', 'carambola', 'pabre', 'ovo']
maça
banana
laranja
10
20
30
40
50

In [14]:
#Ex.2

lista_frutas = []

for k in range (5):
    frutas = input("Digite sua fruta favorita:")
    lista_frutas.append(frutas)
    print(lista_frutas)

for i in lista_frutas:
    if i=="maça":
        print(i)
        break

['maça']
['maça', 'maça']
['maça', 'maça', 'mala']
['maça', 'maça', 'mala', 's']
['maça', 'maça', 'mala', 's', 's']
maça

In [2]:
#Ex.3

listaNome = []
listaCpf = []

for k in range(5):
    nome = input("Digite seu nome: ")
    cpf = float(input("Digite seu cpf: "))
    listaNome.append(nome)
    listaCpf.append(cpf)
print(listaNome)
print(listaCpf)

[]
[]

In [8]:
lista_frutas = ['maça','banana','laranja']

for i in range (len(lista_frutas)):
    print(f'Fruta {i}: {lista_frutas[i]}')

Fruta 0: maça
Fruta 1: banana
Fruta 2: laranja

In [18]:
texto = 'python'

for letra in texto:
    print(letra)

p
y
t
h
o
n

In [19]:
numeros = [2,4,6,8]
soma = 0

for k in numeros:
    soma += k 
print(soma)

20

In [21]:
numeros = [2,4,6,8]

for numero in numeros:
    quadrado = numero **2
    print(f"O quadrado de {numero} é {quadrado}")

O quadrado de 2 é 4
O quadrado de 4 é 16
O quadrado de 6 é 36
O quadrado de 8 é 64

In [27]:
palavras = ['casa', 'computador', 'sol', 'programação']
lista_nova = []

for i in (palavras):
    if len(i)>5:
        lista_nova.append(i)
print(lista_nova)

['computador', 'programação']

In [29]:
#Crie um algoritmo para somar apenas os números pares da lista

lista = [1,4,7,10,13,16]
soma_pares = 0

for k in lista:
    if k % 2==0:
        soma_pares += k 
print(soma_pares)

30

Exercícos 

1. Solicitar 5 produtos e seus preços, armazenar em listas separadas, retornar os respectivos produtos e preços, além do valor total dos produtos.
   
2. Cálculo de descontos na folha de pagamento. Solicitar 5 nomes e salários,  calcular desconto conforme faixa salarial e mostrar salário líquido.

<= 1500 - 0,05
1500 < desconto <= 3000
.>3000 - 0,15

Retornar os repectivos valores em uma lista.

In [5]:
produtos = []
precos = []
total = 0

for i in range(5):
    produto = input(f"Digite o nome do produto {i+1}: ")
    preco = float(input(f"Digite o preço do produto {i+1}"))

    produtos.append(produto)
    precos.append(preco)
    total += preco

print("Produtos: ", produtos)
print("Preços: ", precos)
print("Valor total: ", total)

Produtos:  ['opa', 'opa', 'opa', 'opa', 'opa']
Preços:  [100.0, 200.0, 100.0, 900.0, 999.0]
Valor total:  2299.0

In [8]:
nomes = []
salarios = []
salarios_liquidos = []

for i in range(5):
    nome = input(f"Digite o nome do funcionário {i+1}: ")
    salario = float(input(f"Digte o salário de {nome}: "))
    
    if salario <= 1500:
        desconto = 0.05
    elif salario <= 3000:
        desconto = 0.10
    else: 
        desconto = 0.15
    
    salario_liquido = salario * (1 - desconto)

    nomes.append(nome)
    salarios.append(salario_liquido)
    salarios_liquidos.append((nome, salario_liquido))

print("Salários líquidos por funcionários: ")
print(salarios_liquidos)

Salários líquidos por funcionários:
[('vagner', 950.0), ('igor', 8500.0), ('gabriel', 17000.0), ('sobra', 170000.0), ('carlos', 950.0)]